/*оболочка*/
.wrapper{
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
}
/*прижать footer вниз*/
.wrapper{
	> main{
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 auto;
		        flex: 1 1 auto;
	}
}
/*ограничивающий контейнер*/
/*
Стили будут применяться ко всем классам содержащим *__container
Например headere__container, main__container и т.д.
*/
[class*="__container"]{
	margin: 0 auto;
	padding: 0 rem($containerPadding / 2); /* отступы безопасности */
    max-width: rem($maxWidthContainer);
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}

[class*="__row"]{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	//margin-top: calc(-1 * 0);
	//margin-right: calc(-0.5 * 1.5rem);
	//margin-left: calc(-0.5 * 1.5rem);	
}

[class*="__row"] > *{
	-ms-flex-negative: 0;
	    flex-shrink: 0; /*запрещается уменьшаться flex элементам*/
	width: 100%;
	max-width: 100%;
	//padding-right: calc(1.5rem * 0.5);
	//padding-left: calc(1.5rem * 0.5);
	//padding-right: rem($containerPadding / 2);
	//padding-left: rem($containerPadding / 2);
	//margin-top: 0;	
}